* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    height: 100%;
    padding: 30px;
    width: 800px;
}

.baner {
    background-color: rgb(182, 246, 245);
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    background: url('/img/back.webp') no-repeat center;
    background-size: cover;
    height: 400px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.language {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.language:hover {
    text-decoration: underline;
}

.main-nav {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.main-nav > a {
    text-decoration: none;
    color: #fff;
}

.main-nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.nav > a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.nav > a:hover {
    text-decoration: underline;
    font-size: 16px;
}

.right-block {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    padding: 30px;
}

.right-block > p:first-of-type {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    font-size: 25px;
    width: 200px;
    display: inline;
    text-align: right;
    margin-bottom: 20px;
}

.link {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 10px;
}

.link:hover {
    text-decoration: underline;
    background-color: #B9DFE2;
    color: #437888;
}

.bottom {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-title {
    font-size: 20px;
    color: #a3e9e6;
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.drawings {
    width: 90px;
    padding: 20px;
    margin-top: 20px;
}

.second {
    background-color: #B9DFE2;
    padding: 5px 15px;
    color: #fff;
    margin-top: 40px;
}